.selection {
    background: #865fc5;
    color: white;
}
select
{
    background-color: #865fc5;
    color: white;
    text-align: center;
}
.result {
    font-size: 25px;
    overflow-y: auto;
    height:100%;
}