.clipboardTranslator {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.languageSelection {
    background: #865fc5;
    color: white;
}
select
{
    background-color: #865fc5;
    color: white;
    text-align: center;
}
.resultViewer {
    width: 100%;
    height: 100%;
    border: solid #ddd 1px;
    resize: none;
    font-size: 25px;
}